<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="Close()">Cancel</ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Allowed apps</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="Save()">Save</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list-header>
    Show system apps:<ion-toggle [(ngModel)]="ShowSystemApps"></ion-toggle>
  </ion-list-header>
  <ion-label>
    <p class="ion-padding">Disable the apps that you don't want to be routed through the SPN.</p>
  </ion-label>
  <ion-list>
    <ion-item *ngFor="let app of AppList | systemAppsFilter: !ShowSystemApps">
      <ion-label>{{app.name}}</ion-label>
      <ion-toggle [(ngModel)]="app.enabled"></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>
