.md body {
  --ion-item-background: #121212;
}

#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.header {
  // position: relative;
  height: 25%;
}

.shield {
  position: relative;
  float: left;
  height: 10%;
}

.shutdown-button {
  // position: absolute;
  left: 85%;
  top: 10%
}

.user-button {
  // position: absolute;
  left: 85%;
  top: 35%
}

.notification-list {
  width: 100%;
  background-color: #181818;
  // border: solid;
  border-top: 1px solid rgb(100 100 100);
  border-bottom: 1px solid rgb(100 100 100);
  padding: 0 0 0 0;
}

.notification-placeholder {
  text-align: center;
  vertical-align: middle;
  color: #8c8c8c;
  margin: 0.2em 0 0.2em 0;
}

@mixin trim($numLines: null){
  @if $numLines != null {
     display:-webkit-box;
     -webkit-line-clamp:$numLines;
     -webkit-box-orient:vertical; 
     overflow:hidden;
  }
  @else{
     text-overflow:ellipsis;
     white-space:nowrap;
     overflow:hidden;
     display:block;
  }
}

.notification {
  // text-align: center;
  // vertical-align: middle;
  --background: #181818;
  margin: 0.2em 0 0.4em 0;
  // height: 3em;
}

.notification-content {
  @include trim(2);
  overflow: ellipsis;
  color: #8c8c8c;
}

.bell-icon {
  display: inline-block;
  vertical-align: middle;
 }