.md body {
  --ion-item-background: #121212;
}

#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.header {
  // position: relative;
  height: 25%;
}

.shield {
  position: relative;
  float: left;
  height: 10%;
}

.shutdown-button {
  // position: absolute;
  left: 85%;
  top: 10%
}

.user-button {
  // position: absolute;
  left: 85%;
  top: 35%
}

.spn-button {
  // position: relative;
}