<ion-item>
  <ion-label>VPN Service </ion-label><ion-button slot="end" (click)="Shutdown()" color="danger"><ion-icon name="power-outline"></ion-icon></ion-button>
</ion-item>
<ion-item>
  <ion-label>Secure DNS</ion-label><ion-label slot="end">Coming soon</ion-label>
</ion-item>
<ion-item>
  <ion-label>Privacy Filter</ion-label><ion-label slot="end">Coming soon</ion-label>
</ion-item>
<ion-item>
  <ion-label>SPN {{SPNStatus?.Status}}</ion-label>
  <spn-button [SPNStatus]="SPNStatus" (onEnable)="enableSPN()" (onDisable)="disableSPN()"></spn-button>
</ion-item>
<ion-item *ngIf="!User?.canUseSPN">
  <ion-label color="danger">Your account does not have access to the SPN</ion-label>
</ion-item>
<ion-item *ngIf="isSPNConnected()">
  <ion-label class="ion-text-wrap">
    <p>
      Home: {{SPNStatus.HomeHubName}}
      <br>
      Connection: {{SPNStatus.ConnectedIP}} {{SPNStatus.ConnectedTransport}}
      <br>
      Connected Since: {{SPNStatus.ConnectedSince | date:'medium'}}
    </p>
    <p *ngIf="SPNErrorMsg.length > 0">
    {{SPNErrorMsg}}
    </p>
  </ion-label>
</ion-item>
