<ion-content>
  <ion-item color="disclaimer">
    <ion-label class="ion-text-wrap">
      <p>This version is not optimized for battery performance. We are working on improving this for future versions.
      </p>
    </ion-label>
  </ion-item>

  <div class="header">
    <security-lock class="shield"/>
    <ion-item style="text-align: right; "><ion-label >
        <p>Shutdown:</p>
      </ion-label>
      <ion-button slot="end" (click)="Shutdown()" color="danger">
        <ion-icon name="power-outline"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item style="text-align: right; width: 50%; float: right;">
      <ion-label >
        <p>Account info:</p>
      </ion-label>
      <ion-button slot="end" color="pm-accent" (click)="openUserInfo()">
        <ion-icon src="../../assets/menu/user.svg"></ion-icon>
      </ion-button>
    </ion-item>
  </div>
  
  <ion-item button>
    <ion-label (click)="openConnectionInfo()" [ngSwitch]="SPNStatus?.Status">
      SPN
      <p *ngIf="IsGeoIPDataAvailable">
        <ng-template ngSwitchCase="disabled">
          Increase privacy protection
        </ng-template>
        <ng-template ngSwitchCase="failed">
          Failed to connect
        </ng-template>
        <ng-template ngSwitchCase="connecting">
          Connecting to the SPN ...
        </ng-template>
        <ng-template ngSwitchCase="connected">
          <u>You're protected</u>
        </ng-template>
      </p>
      <p *ngIf="!IsGeoIPDataAvailable">
        Missing GeoIP data
      </p>
    </ion-label>
    <spn-button slot="end" class="spn-button" [User]="User" [SPNStatus]="SPNStatus" [IsGeoIPDataAvailable]="IsGeoIPDataAvailable" (onStateChange)="setSPNEnabled($event)" (onLogin)="openLoginPage()"></spn-button>
  </ion-item>
  <!-- Notifications -->
  <notifications/>
  <!-- Download notification/progress -->
  <app-download-progress (OnDownloadComplete)="CheckGeoIPData()"></app-download-progress>
