<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-item>
    <ion-select [value]="actionValue">
      <ion-select-option value="-">{{symbolMap["-"]}}</ion-select-option>
      <ion-select-option value="+">{{symbolMap["+"]}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-input [value]="ruleValue"></ion-input>
  </ion-item>
</ion-content>