div {
    font-size: small;
}

.logline {
    margin: 1%;
}

.info {
    color: white;
}

.warning {
    color:goldenrod;
}

.error {
    color: red;
}
.critical {
    color: plum
}
hr {
    border: 0;
    border-top: 1pt solid lightgray;
}
