.error{
    --min-height: 2rem;
    margin: 0px 2px 0px 2px;
    --background: #00000000;
    --color: #ff3c22;
    --highlight-height: 0px;
    --border-style: none;
}

.error_label {
    margin: 3px 0px 3px 0;
}

