<ion-content>
  <ion-item>
    <ion-label>Username:</ion-label>
    <ion-input [(ngModel)]="Username"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Password:</ion-label>
    <ion-input type="{{PasswordFieldType}}" [(ngModel)]="Password"></ion-input>
    <ion-button fill="clear" (click)="togglePasswordVisibility($event);"icon-only>
      <ion-icon name="eye" *ngIf="!ShowPassword"></ion-icon>
      <ion-icon name="eye-off" *ngIf="ShowPassword"></ion-icon>
    </ion-button>
  </ion-item>
  <ion-button expand="full" (click)="login($event);">Login</ion-button>
  <ion-item class="error" *ngIf="User.error != null">
    <ion-label class="ion-text-center">{{User.error}}</ion-label>
  </ion-item>
</ion-content>