<ion-content>
  <ion-item>
    <ion-label>Username:</ion-label>
    <ion-input [(ngModel)]="Username"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Password:</ion-label>
    <ion-input type="{{PasswordFieldType}}" [(ngModel)]="Password"></ion-input>
    <ion-button fill="clear" (click)="togglePasswordVisibility();"icon-only>
      <ion-icon name="eye" *ngIf="!ShowPassword"></ion-icon>
      <ion-icon name="eye-off" *ngIf="ShowPassword"></ion-icon>
    </ion-button>
  </ion-item>
  <ion-button expand="full" (click)="login();">Login</ion-button>
  <ion-item>
    <ion-label class="ion-text-center">Don't have an account?<br><a href="https://account.safing.io/account/sign_up">Sign Up</a></ion-label>
  </ion-item>
  <ion-item class="error">
    <ion-label class="ion-text-center">{{Error}}</ion-label>
  </ion-item>
</ion-content>