<ion-tabs [environmentInjector]="environmentInjector">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="main">
      <ion-icon aria-hidden="true" class="icon" src="../../assets/menu/activity.svg"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="settings">
      <ion-icon aria-hidden="true" class="icon" src="../../assets/menu/settings.svg"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="help">
      <ion-icon aria-hidden="true" class="icon" src="../../assets/menu/help.svg"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
