<ion-app>
  <ion-header>
    <ion-item>
        <ion-title>
          SPN
        </ion-title>
      <ion-button (click)="openAppList()" fill="clear" style="float:right;"><ion-icon name="settings-outline"></ion-icon></ion-button>
    </ion-item>
  </ion-header>
  <ion-nav root="nav-home"></ion-nav>
  
  <ion-content padding>
    <app-login-container [user]="user" (onLogin)="login($event);" *ngIf="!user.loggedIn"></app-login-container>
    <spn-view-container [user]="user" (onLogout)="logout($event);" *ngIf="user.loggedIn"></spn-view-container>
  </ion-content>
  
</ion-app>
