/* Without setting height the slides will take up the height of the slide's content */
ion-slides {
    height: 100%;
  }

@media (prefers-color-scheme: light) {
  .logo {
    fill: #555;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    fill: #fff;
  }
}