<ion-content>
  <ion-slides #slides (ionSlideDidChange)="onActiveIndexChange()">
    <ion-slide>
      <div class="slide">
        <img src="../../assets/bye-bye-vpns.png" />
        <h2>Welcome to Portmaster</h2>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="slide">
        <ion-icon name="key-outline" size="large"></ion-icon>
        <p>In order to work properly, Portmaster needs the following permissions:</p>
        <ion-accordion-group>
          <ion-accordion value="vpn">
            <ion-item slot="header" color="light">
              <ion-label>Run a VPN service</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              <ion-label>
                <p>Needed so Portmaster can block and re-route connections as you desire.</p>
                <ion-button [disabled]="VPNPermissionGranted" (click)="RequestVPNPermission();">
                  <div *ngIf="!VPNPermissionGranted">Grant</div>
                  <div *ngIf="VPNPermissionGranted">Granted</div>
                </ion-button>
              </ion-label>
            </div>
          </ion-accordion>
          <ion-accordion value="notifications">
            <ion-item slot="header" color="light">
              <ion-label>Show notifications</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              <ion-label>
                <p>Needed to inform you about important things while Portmaster runs in the background.</p>
                <ion-button [disabled]="NotificationPermissionGranted" (click)="RequestNotificationPermission();">
                  <div *ngIf="!NotificationPermissionGranted">Grant</div>
                  <div *ngIf="NotificationPermissionGranted">Granted</div>
                </ion-button>
              </ion-label>
            </div>
          </ion-accordion>
          <ion-accordion value="apps">
            <ion-item slot="header" color="light">
              <ion-label>Query all installed apps</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              <ion-label>
                <p>Needed so Portmaster knows which connection comes from which app.</p>
              </ion-label>
            </div>
          </ion-accordion>
          <ion-accordion value="netstate">
            <ion-item slot="header" color="light">
              <ion-label>Access network state</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              <ion-label>
                <p>Needed so Portmaster can properly route connections and reconnect when a network interface changes.</p>
                <p>Portmaster is fully open source so everything can be verified.</p>
              </ion-label>
            </div>
          </ion-accordion>
        </ion-accordion-group>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="slide">
        <img src="../../assets/multiple-identities-for-each-app.png" />
        <p>Turn on your WiFi.</p>
        <ion-icon name="wifi-outline" size="large"></ion-icon>

        <p>Around 200MB of assets are going to be downloaded.</p>
        <ion-button (click)="Download()">Download now</ion-button>
        <ion-label>
          <p>The downloaded GeoIP data is used by Portmaster to see which countries your connections are going to, and to calculate the best routes for SPN.</p>
        </ion-label>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="slide">
        <img src="../../assets/easily-control-your-privacy.png" />
        <p>You will be notified as soon as the downloaded has completed. In the mean time you can sign in and explore the settings.</p>
        <ion-button (click)="Continue()">Continue</ion-button>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>