.help-section {
    background: var(--ion-color-pm-accent);
    width: 96%;
    height: 15%;
    padding: 0.5rem;
    margin: 2% 2% 2% 2%;
    border-radius: 0.25rem;
}

.secondary-text {
    font-size: .75rem;
    line-height: 1rem;
    font-weight: 500;
    color: rgb(171 171 171);
}